* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
header {
  position: sticky !important;
  top: 0;
}

nav.navbar {
  border-bottom: 1px solid #000;
}

/* Repos */
.repos {
  margin: 1rem 0;
}

.repo-item {
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  display: flex;
  /* align-items: center; */

  border: 1px solid #000;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 1px #000;
}

.repo-item:last-child {
  margin-bottom: 0;
}

.repo-item-img {
  padding: 0 1.25rem;
  height: 120px;
  border-radius: 50%;
}

.repo-item-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo-item-detail .title strong {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.repo-item-detail .block div {
  display: inline-block;
}

.repo-item-detail .score {
  padding: 0.25rem;
  margin-right: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
}

/* pagination */
.pagination {
  margin-bottom: 0;
}

.pagination .page-link {
  color: #000;
}
